
.messageView {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 100%;
    background-color: #B570D4;
    padding: 20px;
}
.form {
    padding: 20px; 
    display:flex ; 
    gap: 20px;
}
.message {
    /* border: 1px solid black; */
    padding: 10px;

    max-width: 30rem;
    min-width: 13rem;
    margin: 5px;
}

.recipientMessage {
    border-radius: 15px 15px 15px 0px;
    background-color: #E5E5EA;
}


.myMessage {
    align-self: flex-end;
    border-radius: 15px 15px 0px 15px;
    background-color: #007AFE;
    color: white;
}

.message .head {
    display: flex;
    gap: 10px
}

.message .name {
    font-weight: bold;
}
h1{
   color: black;
}
.chat-Head{
    margin-top: 0px;
     padding: 10px;
   display: flex;
   justify-content: space-between;
    background-color: lightpink;
}
.chat-Head input{
    padding: 10px;
    border: none;
    margin: 5px;
}
.chat-Head input:focus{
    background-color: #E5E5EA;
    border: 1px solid lightpink;
}
.chat-Head button{
    width: 80px;
    height: 40px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    margin-top: 8px;

}
.chat-Head button:hover{
    background-color: #E5E5EA;
    color: black;
}