.search{
  padding: 20px;
  margin-top: 20px;
display: flex;
gap: 40px;
} 
.search button{
  width: 80px;
  height: 50px;
  background-color: cornflowerblue;
 border: none;
 border-radius: 5px;
  color: white;
}
.search input{
  width: 200px;
  height: 50px;
  padding: 10px;
border-radius: 5px;
}
.search button:hover{
  background-color: gainsboro;
  color: black;
} 
.friend-list .span {
padding: 30px;
margin: 20px;
background-color: azure;

}
.friend-list {
  background-color: azure;
}
  
  .friend-list ul {
    list-style: none;
    padding: 0;
  }
 
 .friend-list h2 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  } 
  .friend-list  button{
    width: 100px;
    border: none;
    border-radius: 50px;
    background-color: red;
   
  
    
  }
  .chat{
  color: white;
  }
  .friend-list  button:hover{
    background-color: gold;
  }
 

  .userListItem {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.notificationView {
    position: fixed;
    top: 10;
    right: 0;
    text-align: right;
}

.notificationView .item {
    background-color: #DDDDDD;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.notificationView .title {
    font-weight: bold;
}
.toast-message{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px;
  width: 300px;
 
}